body{
    min-width: 100vh;
    /*Permite que o body deixa um valor minimo de altura*/
}

:root{
    --background-clean: beige;
    --cor-da-empresa: orange;
    /*root para estilizar a cor do site inteiro com uma simples troca*/
}